# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\linux\www\laravel-init\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
